/*body{
	background-image: url(IMAGESS/img1.jpg);
	background-size: cover;
	position: absolute;**/
}
h1{
	text-align: center;
	color: white
}
.navbar-header{
	color: 
}
.text{
	text-align: center;
	color: red;
}
p{
	color: blue;
	font:
}
.container1{
	background-color: red;

}
